.pd-full-page {
  width: 100vw;
  height: 100vh;
}

body, html {
  height: 100%;
  background: #F5F5F5;
}

#root {
  background-color: #efefef;
  height: 100%;
}

/* Add space between form-groups on an inline form. */
.form-inline .form-group ~ .form-group {
  margin-left: 16px;
}

/* Make form-group a column for label-above-input look */
.form-inline .form-group {
  flex-direction: column;
  align-items: start;
}

.max-width-2 {
  max-width: 13rem;
}

.nav-global.nav-global-hover .dropdown-toggle::after {
  right: 10px;
}

.nav-global-footer {
  background: none;
}

.nav-global-footer-user {
  padding: 0;
}

.user__avatar {
  margin-right: .5rem;
}

.nav-divider {
  margin: 1rem 0 1.5rem;
}

.pdx-loading {
  height: 50px !important;
  width: 50px !important;
}

