.pd-full-page {
  width: 100vw;
  height: 100vh;
}

body, html {
  height: 100%;
  background: #F5F5F5;
}

#root {
  background-color: #efefef;
  height: 100%;
}

/* Add space between form-groups on an inline form. */
.form-inline .form-group ~ .form-group {
  margin-left: 16px;
}

/* Make form-group a column for label-above-input look */
.form-inline .form-group {
  flex-direction: column;
  align-items: start;
}

.max-width-2 {
  max-width: 13rem;
}

.nav-global.nav-global-hover .dropdown-toggle::after {
  right: 10px;
}

.nav-global-footer {
  background: none;
}

.nav-global-footer-user {
  padding: 0;
}

.user__avatar {
  margin-right: .5rem;
}

.nav-divider {
  margin: 1rem 0 1.5rem;
}

.pdx-loading {
  height: 50px !important;
  width: 50px !important;
}

.nav-underlines{border-bottom:1px solid #dee2e6}
.nav-underlines .nav-link{color:#333;font-weight:400;padding-left:0;padding-right:0;margin-right:1rem}
.nav-underlines .nav-link:hover{color:#333}
.nav-underlines .nav-link.active{color:#0071d3;border-bottom:3px solid #0071d3;font-weight:700}
.nav-underlines .nav-link.active:hover{color:#0071d3}

.pagination {
  justify-content: flex-end;
}

.disabled {
  color: #999999 !important;
  /* text-shadow: #999999 1px 1px 2px; */
}